<div id="<%= dom_id professor %>">
  <p>
    <strong>Name:</strong>
    ***<%= professor.name %>***
  </p>

  <p>
    <strong>Degree:</strong>
    <%= professor.degree %>
  </p>

  <p>
    <strong>num_papers:</strong>
    <%= professor.num_papers %>
  </p>

</div>
